# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# web

# dependencies
/web/node_modules
/web/.pnp
/web/.pnp.js

# testing
/web/coverage

# production
/web/build

# misc
/web/.DS_Store
/web/.env
/web/.env.local
/web/.env.development.local
/web/.env.test.local
/web/.env.production.local

/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*

/web/.eslintcache

# contract_interactor

# dependencies
/contract_interactor/node_modules

# Logs
/contract_interactor/logs
/contract_interactor/*.log
/contract_interactor/npm-debug.log*
/contract_interactor/yarn-debug.log*
/contract_interactor/yarn-error.log*

# dotenv environment variable files
/contract_interactor/.env
/contract_interactor/.env.development.local
/contract_interactor/.env.test.local
/contract_interactor/.env.production.local
/contract_interactor/.env.local

# misc
/contract_interactor/.DS_Store